pre-commit
structlog

pytest
pytest-asyncio
httpx

bcrypt
PyJWT

dependency-injector
pydantic-settings
pydantic[email]
asyncpg
confluent-kafka
cosmos @ git+https://github.com/bgswe/cosmos
bookt_domain @ git+https://github.com/bgswe/bookt-domain
