pre-commit
structlog

pytest
pytest-asyncio
httpx

bcrypt
PyJWT

dependency-injector
pydantic-settings
pydantic[email]
asyncpg
confluent-kafka
cosmos @ git+ssh://git@github.com-cosmos/bgswe/cosmos
bookt_domain @ git+ssh://git@github.com-bookt-domain/bgswe/bookt-domain
