structlog
pydantic-settings
pydantic[email]
pytest
bcrypt
asyncpg
confluent-kafka
dependency-injector
cosmos @ git+https://github.com/bgswe/cosmos
bookt_domain @ git+https://github.com/bgswe/bookt-domain
