cosmos @ git+https://github.com/bgswe/cosmos
bookt_domain @ git+https://github.com/bgswe/bookt-domain

fastapi
uvicorn[standard]
python-multipart

pydantic[email]
pydantic_settings

structlog

jinja2
confluent-kafka
