fastapi
uvicorn[standard]
confluent-kafka
bcrypt
PyJWT
dependency-injector  # TODO: do I need this for API?
pydantic[email]
python-multipart
cosmos @ git+https://github.com/bgswe/cosmos
bookt_domain @ git+https://github.com/bgswe/bookt-domain
