Host github.com-cosmos
  Hostname github.com
  IdentityFile ~/.ssh/github
  IdentitiesOnly yes


Host github.com-bookt-domain
  Hostname github.com
  IdentityFile ~/.ssh/deploy-domain
  IdentitiesOnly yes
