.flex {
    display: flex;
    gap: var(--bulma-block-spacing);
}

.justify-right {
    justify-content: right;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: start;
}

.content-container {
    padding: var(--bulma-block-spacing);
}

.navbar-menu {
    padding-left: var(--bulma-block-spacing);
    padding-right: var(--bulma-block-spacing);
}
